.css-1gsdsin {
  background-position: center !important;
}

/*body 3 component*/

.body3component {
  padding: 20px;
}

.imagenbody3 {
  border-radius: 10%;
}

.oldPricebody3 {
  text-decoration: line-through;
}

.tituloCard {
  font-weight: 700;
  font-size: 24px;
}

.muestraCard {
  font-weight: 400;
  font-style: italic;
}

.resultadosCard {
  font-weight: 500;
  color: #0056b7;
}

.comentariosCard {
  font-weight: 600;
  color: #6e6e6e;
}
